@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: grid;
    place-items: center;
    width: 602px;
    height: 370px;
    background-color: #d9d9d924;
    border-radius: 5px;
}

.sub-container {
    width: 520px;
    height: 298px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.head-text {
    margin-top: 31px;
    margin-left: 20px;
}

h2 {
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.phone {
    font-family: 'inter', sans-serif;
    font-size: 20;
    line-height: 40px;
}

.phone-info {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    color: #bbb;
    font-weight: 300;
}

.info-container {
    margin: auto;
    margin-top: 36px;
    width: 480px;
    height: 118px;
    background-color: rgba(255, 255, 255, 0.209);
    border: 1px solid rgba(204, 204, 204, 0.072);
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(204, 204, 204, 0.778);
}

.row {
    display: flex;
    align-items: center;
    margin: 10px;
}

.region, .carrier {
    margin-bottom: 16px;
}

.icon {
    margin-right: 10px;
}

.subject {
    color: #00000040;
}

.type {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 114px;
    font-size: 17px;
}

.flag-nigeria {
    margin-right: 14px;
}

.text-region, .network-provider {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #00000080;
}

.provider {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 98px;
    font-size: 17px;
}

.number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-right: 40px;
}

input {
    width: 170px;
    height: 28px;
    border: none;
    font-size: 15px;
    color: #00000080;
}

input::placeholder {
    color: #00000040;
    font-size: 15px;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }