@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: grid;
    place-items: center;
    width: 602px;
    height: 370px;
    background-color: #d9d9d924;
    border-radius: 5px;
}

.sub-container {
    width: 520px;
    height: 298px;
    background-color: #fff;
    border-radius: 4px;
}

.head-text {
    margin-top: 31px;
    margin-left: 20px;
}

h2 {
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.phone {
    font-family: 'inter', sans-serif;
    font-size: 20;
    line-height: 40px;
}

.phone-info {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    color: #bbb;
    font-weight: 300;
}

.info-container {
    margin: auto;
    margin-top: 36px;
    width: 480px;
    height: 118px;
    background-color: rgba(255, 255, 255, 0.209);
    border: 1px solid rgba(204, 204, 204, 0.072);
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(204, 204, 204, 0.778);
}