* {
    margin: 0;
    padding: 0;
}

body {
    margin: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: grid;
    place-items: center;
    width: 602px;
    height: 370px;
    background-color: #d9d9d924;
    border-radius: 5px;
}

.sub-container {
    width: 520px;
    height: 298px;
    background-color: #fff;
    border-radius: 4px;
}